*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: 'Golos', sans-serif;
  background-color: #fff; }

body._lock {
  overflow: hidden; }

a {
  text-decoration: none; }

ul, ol, li {
  list-style: none; }

ul {
  display: block; }

.none {
  display: none; }

@font-face {
  font-family: Golos;
  src: url("Golos-Text_Regular.ttf"); }
@font-face {
  font-family: Golos;
  src: url("Golos-Text_Medium.ttf"); }
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #468aff; }

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px; }

.header__logo {
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  width: 40px;
  height: 40px; }

.page {
  padding-top: 120px; }

.page__section {
  padding: 30px;
  padding-bottom: 100px;
  max-width: 1200px;
  margin: 0 auto; }

.page__section_1 {
  padding-top: 100px;
  background-color: #fff; }

.page__section_2 {
  background-color: #468aff; }

.page__title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500; }

.page__sub-title {
  font-size: 22px;
  font-weight: 400; }

.page__text {
  font-size: 18px;
  line-height: 30px; }

.wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-width: 320px;
  height: 100%;
  z-index: 1000;
  transition: 0.3s ease; }

.wrapper._visible {
  left: 0; }

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  height: 100%;
  background-color: #fff;
  overflow: auto;
  overflow-x: hidden; }

.menu__header {
  position: relative;
  padding: 10px;
  padding-bottom: 30px; }

.menu__body {
  position: relative;
  flex: 1;
  padding: 30px; }

.menu__body._active {
  left: 0; }

.menu__list {
  width: 100%; }

.menu__list li {
  margin-bottom: 20px; }
  .menu__list li:last-child {
    margin-bottom: 0; }

.menu__list li._active .menu__sub-list {
  display: block; }

.menu__link {
  display: block;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #151617;
  transition: all 0.3s ease 0s; }
  .menu__link:hover {
    color: #468aff; }

.menu__link-main {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.menu__arrow {
  position: absolute;
  display: block;
  top: 10px;
  right: 0;
  width: 10px;
  height: 8px; }
  .menu__arrow:before, .menu__arrow:after {
    content: "";
    position: absolute;
    background-color: #468aff;
    width: 100%;
    height: 1px;
    left: 0; }
  .menu__arrow:before {
    top: 0;
    transform: rotate(45deg); }
  .menu__arrow:after {
    bottom: 0;
    transform: rotate(-45deg); }

.menu__sub-arrow {
  left: -18px; }
  .menu__sub-arrow:before {
    top: 0;
    transform: rotate(-45deg); }
  .menu__sub-arrow:after {
    bottom: 0;
    transform: rotate(45deg); }

.menu__sub-list {
  width: 100%; }
  .menu__sub-list li:first-child {
    position: relative;
    margin-bottom: 40px; }
  .menu__sub-list li:last-child {
    margin-bottom: 0px; }

.menu__sub-list p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #577188; }

.menu__sub-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #151617;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400; }
  .menu__sub-link p {
    margin-top: 5px; }
  .menu__sub-link:hover {
    color: #468aff; }

.menu__body-sub,
.menu__body-subsub {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  background-color: #fff;
  transform: translate(100%);
  transition: all 0.3s ease 0s;
  overflow-y: auto;
  overflow-x: hidden; }

.menu__body-sub._active,
.menu__body-subsub._active {
  transform: none; }

.menu__subsub-list .menu__sub-link {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #151617;
  transition: all 0.3s ease 0s; }

.menu__subsub-list li + li {
  margin-bottom: 35px; }

.menu__subsub-list > li:hover .menu__sub-link {
  color: #468aff; }

.menu__subsub-list p {
  cursor: pointer; }

.menu__subsub-list .menu__sub-link.menu__sub-link--header {
  font-size: 22px;
  line-height: 32px; }

.menu__subsub-list + li {
  position: relative; }

.subsub-list__line {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 1px;
  background-color: #C6D6E5; }

.menu__footer {
  padding: 30px; }

.menu__footer._none {
  display: none; }

.lang-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.lang-menu__header._visible {
  left: 20px; }

.lang-menu__switcher {
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid transparent; }
  .lang-menu__switcher:hover, .lang-menu__switcher:focus {
    background: rgba(29, 125, 237, 0.1);
    border: 2px solid rgba(131, 188, 255, 0.5);
    border-radius: 5px; }
    .lang-menu__switcher:hover svg, .lang-menu__switcher:focus svg {
      fill: #1D7DED; }
  .lang-menu__switcher svg {
    fill: #849BAF; }

.lang-menu__icon {
  width: 24px;
  margin-right: 8px; }
  .lang-menu__icon img {
    width: 100%; }

.lang-menu__current {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500; }

.lang-menu__arrow {
  margin-left: 5px; }

.lang-menu__body {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 180px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  box-shadow: 0px 6px 10px rgba(116, 137, 155, 0.06), 0px 1px 18px rgba(116, 137, 155, 0.04), 0px 3px 5px rgba(116, 137, 155, 0.08);
  border-radius: 2px;
  transition: 0.2s ease-in-out;
  overflow: auto;
  visibility: hidden;
  opacity: 0; }

.lang-menu__body._active {
  top: 95%;
  visibility: visible;
  opacity: 1; }

.lang-menu__title,
.lang-menu__link {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #151617; }

.lang-menu__title {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-weight: 600; }

.lang-menu__link {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px; }
  .lang-menu__link:hover {
    background-color: #F1F8FE; }

.lang-menu__link._current {
  background-color: #F1F8FE; }

.lang-menu__img {
  margin-right: 10px;
  width: 16px;
  height: 16px; }
  .lang-menu__img img {
    display: block;
    width: 100%; }

.item__content {
  display: flex;
  justify-content: space-between; }

.item__content-left {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.item__content-right._active {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.item__content-right._none {
  display: none; }

.menu__icon {
  position: fixed;
  top: 20px;
  right: 20px;
  display: block;
  z-index: 5000;
  height: 20px;
  width: 30px;
  cursor: pointer; }
  .menu__icon span, .menu__icon:before, .menu__icon:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #fff;
    transition: all 0.35s ease-in; }
  .menu__icon:before, .menu__icon:after {
    content: ""; }
  .menu__icon:before {
    top: 0; }
  .menu__icon:after {
    bottom: 0; }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%); }
  .menu__icon:hover span, .menu__icon:hover:before, .menu__icon:hover:after {
    background-color: #9bbffc; }

.menu__icon._active {
  z-index: 5000; }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%); }
  .menu__icon._active:before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    background-color: #151617; }
  .menu__icon._active:after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    background-color: #151617; }

/*# sourceMappingURL=main.css.map */
