.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgb(70, 138, 255);
}

.header__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;

}

.header__logo {
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    width: 40px;
    height: 40px;
}

.page {
    padding-top: 120px;
}

.page__section {
    padding: 30px;
    padding-bottom: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.page__section_1 {
    padding-top: 100px;
    background-color: #fff;
}

.page__section_2 {
    background-color: rgb(70, 138, 255);
}

.page__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
}

.page__sub-title {
    font-size: 22px;
    font-weight: 400;
}

.page__text {
    font-size: 18px;
    line-height: 30px;
}
